<template name="Dashboard">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Welcome {{userFullName}}!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		<p id="page_text">
			Dashboard under construction...
		</p>
		{{> DashboardStudentsView}}{{> DashboardCoursesView}}{{> DashboardYearView}}{{> DashboardServiceView}}{{> DashboardSubjectsView}}
	</div>
</template>

<template name="DashboardStudentsView">
	<div id="dashboard-students-view" class="">
		<h2 id="component-title">
			Students
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DashboardStudentsViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No students :(
		</div>
		{{/if}}
	</div>
</template>

<template name="DashboardStudentsViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="fatherLastName">
					Father's
				</th>
				<th class="th-sortable" data-sort="motherLastName">
					Mother's
				</th>
				<th class="th-sortable" data-sort="preferredName">
					Preferred
				</th>
				<th class="th-sortable" data-sort="sortName">
					Sort Name
				</th>
				<th class="th-sortable" data-sort="birthDate">
					Brith Date
				</th>
				<th class="th-sortable" data-sort="gender">
					Gender
				</th>
				<th class="th-sortable" data-sort="phoneNumber">
					Phone Number
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DashboardStudentsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DashboardStudentsViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{fatherLastName}}
		</td>
		<td>
			{{motherLastName}}
		</td>
		<td>
			{{preferredName}}
		</td>
		<td>
			{{sortName}}
		</td>
		<td>
			{{formatDate birthDate 'MM-DD-YYYY'}}
		</td>
		<td>
			{{gender}}
		</td>
		<td>
			{{phoneNumber}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

<template name="DashboardCoursesView">
	<div id="dashboard-courses-view" class="">
		<h2 id="component-title">
			Courses
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DashboardCoursesViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No courses :(
		</div>
		{{/if}}
	</div>
</template>

<template name="DashboardCoursesViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="year.year">
					Year
				</th>
				<th class="th-sortable" data-sort="service.name">
					Service name
				</th>
				<th class="th-sortable" data-sort="service.code">
					Service code
				</th>
				<th class="th-sortable" data-sort="subject.name">
					Service name
				</th>
				<th class="th-sortable" data-sort="subject.code">
					Service code
				</th>
				<th class="th-sortable" data-sort="code">
					Code
				</th>
				<th class="th-sortable" data-sort="description">
					Description
				</th>
				<th class="th-sortable" data-sort="teacher.sortName">
					Teacher Name
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DashboardCoursesViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DashboardCoursesViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{year.year}}
		</td>
		<td>
			{{service.name}}
		</td>
		<td>
			{{service.code}}
		</td>
		<td>
			{{subject.name}}
		</td>
		<td>
			{{subject.code}}
		</td>
		<td>
			{{code}}
		</td>
		<td>
			{{description}}
		</td>
		<td>
			{{teacher.sortName}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

<template name="DashboardYearView">
	<div id="dashboard-year-view" class="">
		<h2 id="component-title">
			Years
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DashboardYearViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No years :(
		</div>
		{{/if}}
	</div>
</template>

<template name="DashboardYearViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="year">
					Year
				</th>
				<th class="th-sortable" data-sort="name">
					Description
				</th>
				<th class="th-sortable" data-sort="initialDate">
					From
				</th>
				<th class="th-sortable" data-sort="endDate">
					To
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DashboardYearViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DashboardYearViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{year}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			{{formatDate initialDate 'MM-DD-YYYY'}}
		</td>
		<td>
			{{formatDate endDate 'MM-DD-YYYY'}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

<template name="DashboardServiceView">
	<div id="dashboard-service-view" class="">
		<h2 id="component-title">
			Services
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DashboardServiceViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No services :(
		</div>
		{{/if}}
	</div>
</template>

<template name="DashboardServiceViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="code">
					Code
				</th>
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="description">
					Description
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DashboardServiceViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DashboardServiceViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{code}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			{{description}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

<template name="DashboardSubjectsView">
	<div id="dashboard-subjects-view" class="">
		<h2 id="component-title">
			Subjects
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
			<div id="dataview-controls-export" class="form-group">
				{{#if isNotEmpty}}			
		{{#if isFound}}
				<div>
				</div>
				{{else}}
				<div class="btn-group">
					<button type="button" class="btn btn-default" id="dataview-export-default">
						Export
					</button>
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<span class="caret">
						</span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" id="dataview-export-csv">
								Export to CSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-tsv">
								Export to TSV
							</a>
						</li>
						<li>
							<a href="#" id="dataview-export-json">
								Export to JSON
							</a>
						</li>
					</ul>
				</div>
				{{/if}}			
	{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DashboardSubjectsViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			No subjects :(
		</div>
		{{/if}}
	</div>
</template>

<template name="DashboardSubjectsViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="code">
					Code
				</th>
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="description">
					Description
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DashboardSubjectsViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DashboardSubjectsViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{code}}
		</td>
		<td>
			{{name}}
		</td>
		<td>
			{{description}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Delete">
			</span>
		</td>
	</tr>
</template>

